.navbar {
    position: 'fixed'; 
    z-index : 99 ;
    background-color: #2c3e50 !important;  /* 네비게이션 바의 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 네비게이션 바에 그림자 추가 */
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ecf0f1 !important;  /* 브랜드 이름의 색상 */
    text-transform: uppercase;  /* 대문자로 변환 */
    letter-spacing: 1px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #bdc3c7 !important;  /* 링크 기본 색상 */
    margin-right: 15px;
    transition: color 0.3s ease-in-out;  /* 부드러운 색상 전환 */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ecf0f1 !important;  /* 호버 시 링크 색상 */
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
  }
  